## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
type_count_df = pd.DataFrame(application_df["APPLICATION_TYPE"].value_counts())
application_types_to_replace = type_count_df[type_count_df["APPLICATION_TYPE"] < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_count_df = pd.DataFrame(application_df["CLASSIFICATION"].value_counts())
classifications_to_replace = class_count_df[class_count_df["CLASSIFICATION"] < 1883].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

application_dummied_df = pd.get_dummies(application_df, prefix=application_cat)
application_dummied_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_dummied_df["IS_SUCCESSFUL"].values
X = application_dummied_df.drop(columns=["IS_SUCCESSFUL"]).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Find the optimal parameters for the model
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=10,
        step=2), activation=activation, input_dim=43))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 3)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [13]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [14]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 00m 37s]
val_accuracy: 0.7262973785400391

Best val_accuracy So Far: 0.7274635434150696
Total elapsed time: 00h 10m 47s
INFO:tensorflow:Oracle triggered exit

In [15]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 3,
 'num_layers': 2,
 'units_0': 3,
 'units_1': 1,
 'units_2': 5,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 2,
 'tuner/round': 2,
 'tuner/trial_id': '0044'}

In [16]:
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5635 - accuracy: 0.7275 - 334ms/epoch - 1ms/step
Loss: 0.5634652376174927, Accuracy: 0.7274635434150696

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  3
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 3)                 132

 dense_9 (Dense)             (None, 5)                 20

 dense_10 (Dense)            (None, 1)                 6

=================================================================
Total params: 158 (632.00 Byte)
Trainable params: 158 (632.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6141 - accuracy: 0.6756
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5709 - accuracy: 0.7205
Epoch 3/100
804/804 [==============================] - 1s 997us/step - loss: 0.5657 - accuracy: 0.7253
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5633 - accuracy: 0.7269
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5619 - accuracy: 0.7263
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5608 - accuracy: 0.7268
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5597 - accuracy: 0.7271
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5589 - accuracy: 0.7294
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5582 - accuracy: 0.7284
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5574 - accuracy: 0.7288
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5570 - accuracy: 0.7281
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5566 - accuracy: 0.7299
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5564 - accuracy: 0.7300
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5559 - accuracy: 0.7305
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5557 - accuracy: 0.7308
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5552 - accuracy: 0.7311
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5551 - accuracy: 0.7307
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5548 - accuracy: 0.7306
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5545 - accuracy: 0.7303
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5545 - accuracy: 0.7306
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7304
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5541 - accuracy: 0.7310
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5540 - accuracy: 0.7302
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5538 - accuracy: 0.7306
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5536 - accuracy: 0.7315
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5535 - accuracy: 0.7311
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5533 - accuracy: 0.7310
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5531 - accuracy: 0.7333
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5532 - accuracy: 0.7316
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5528 - accuracy: 0.7312
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5528 - accuracy: 0.7316
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5525 - accuracy: 0.7314
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5525 - accuracy: 0.7324
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5523 - accuracy: 0.7308
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5522 - accuracy: 0.7321
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5522 - accuracy: 0.7319
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5521 - accuracy: 0.7315
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7321
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7318
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5519 - accuracy: 0.7313
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5516 - accuracy: 0.7320
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7318
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5515 - accuracy: 0.7317
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7319
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5514 - accuracy: 0.7326
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5514 - accuracy: 0.7303
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7315
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5515 - accuracy: 0.7316
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5513 - accuracy: 0.7315
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7322
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5514 - accuracy: 0.7321
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7319
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7320
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5513 - accuracy: 0.7314
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5513 - accuracy: 0.7319
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7321
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5513 - accuracy: 0.7317
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7317
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7324
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7315
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7317
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7313
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7324
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7318
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5512 - accuracy: 0.7312
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7320
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5511 - accuracy: 0.7312
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5512 - accuracy: 0.7318
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7316
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7314
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7323
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7320
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7315
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7327
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7320
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7324
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7322
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7321
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7323
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7325
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7323
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7315
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7319
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7325
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7320
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7325
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7322
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7322
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7323
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7324
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7317
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7321
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7322
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7326
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7316
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7323
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7322
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7321
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7320
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7326

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5555 - accuracy: 0.7244 - 423ms/epoch - 2ms/step
Loss: 0.5554587841033936, Accuracy: 0.7244315147399902

In [23]:
# Export model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

c:\Users\mirai\anaconda3\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(